* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1#H1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

button {
  padding: 8px;
  background: rgba(28, 121, 172, 0.825);
  border-radius: 8px;
  border: none;
  color: white;
}

header {
  /* height: 8vh; */
  background: lightblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  & input#menuBurger {
    display: none;
  }
  & nav {
    flex-grow: 1;
    & ul {
      display: flex;
      justify-content: space-around;
      & li {
        & a {
          color: black;
        }
      }
    }
  }
}

main {
  padding: 1rem 0;
  max-width: 981px;
  margin: auto;
  display: flex;
  /* height: 84vh; */
  justify-content: space-between;
  & .main-content {
    width: 70%;
    & h1 {
      text-align: center;
    }

    & #container {
      width: 75%;
      margin: auto;
      display: flex;
      gap: 8px;
      padding: 8px;
      border: 2px solid grey;
    }
    & .image {
      background: url(./images/bg-hero.webp) no-repeat center center/cover;
      width: 30%;
      min-width: 150px;
    }
    & .content {
      & p {
        /* background: red; */
        padding: 4px;
      }
      & button {
        margin-top: 0.8rem;
      }
    }
  }
  & aside {
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 30%;
  }
}

footer {
  height: 8vh;
  background: grey;
}

/* mode mobile */
@media only screen and (max-width: 768px) {
  h1#H1 {
    font-size: 1.4rem;
  }
  main {
    flex-direction: column;

    & .main-content {
      width: 100%;
    }
    & aside {
      /* display: none; */
      width: 100%;
      text-align: center;
      margin-top: 1rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  header {
    & nav {
      & input#menuBurger:checked ~ ul#nav-link {
        background: white;
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        left: 0;
      }
      &
        input#menuBurger:checked
        + #menu-mobile
        > label
        > span.line:nth-child(1) {
        transform: translateY(12px) rotate(135deg);
      }
      &
        input#menuBurger:checked
        + #menu-mobile
        > label
        > span.line:nth-child(2) {
        opacity: 0;
      }
      &
        input#menuBurger:checked
        + #menu-mobile
        > label
        > span.line:nth-child(3) {
        transform: translateY(-12px) rotate(-135deg);
      }
      & #menu-mobile > label {
        display: block;
        margin-left: auto;
        margin-right: 0;
        width: 40px;
        height: 60px;
        position: relative;
        cursor: pointer;
        & span.line {
          position: absolute;
          height: 6px;
          width: 100%;
          background: black;
          transition: transform 0.75s ease-out;
        }
        & span.line:nth-child(1) {
          top: 12px;
        }
        & span.line:nth-child(2) {
          top: 24px;
        }
        & span.line:nth-child(3) {
          top: 36px;
        }
      }
      & ul#nav-link {
        display: none;
      }
    }
  }
}
