@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
} */

/* body,
input,
textarea,
button {
  font-family: "Young Serif", serif;
} */

img {
  max-width: 100%;
}

h1#H1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

button {
  padding: 8px;
  background: rgba(28, 121, 172, 0.825);
  border-radius: 8px;
  border: none;
  color: white;
}

header {
  /* height: 8vh; */
  background: lightblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  & #logo {
    max-width: 100px;
  }
  & input#menuBurger {
    display: none;
  }
  & nav {
    flex-grow: 1;
    & ul {
      display: flex;
      justify-content: space-around;
      & li {
        & a {
          color: black;
        }
      }
    }
  }
}

main {
  padding: 1rem 0;
  max-width: 981px;
  margin: auto;
  display: flex;
  /* height: 84vh; */
  justify-content: space-between;
  & .main-content {
    width: 70%;
    & h1 {
      text-align: center;
    }

    & #container {
      width: 75%;
      margin: auto;
      display: flex;
      gap: 8px;
      padding: 8px;
      border: 2px solid grey;
    }
    & .image {
      background: url(./images/bg-hero.webp) no-repeat center center/cover;
      width: 30%;
      min-width: 150px;
    }
    & .content {
      & p {
        /* background: red; */
        padding: 4px;
      }
      & button {
        margin-top: 0.8rem;
      }
    }
  }
  & aside {
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 30%;
  }
}

/* footer en flex */
/* footer {
  background: grey;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  & #footer-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    & div#logo-footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    & #social > ul {
      max-width: 100px;
      height: auto;
      display: flex;
      flex-direction: column;
      & img {
        width: 1rem;
      }
    }
  }
  & div#content-footer {
    display: flex;
    justify-content: center;
  }
} */

/* footer en grid area */
footer {
}

/* mode mobile */
@media only screen and (max-width: 768px) {
  h1#H1 {
    font-size: 1.4rem;
  }
  main {
    flex-direction: column;

    & .main-content {
      width: 100%;
    }
    & aside {
      display: none;
      width: 100%;
      text-align: center;
      margin-top: 1rem;
    }
  }
  /* footer tablette en flex */
  /* footer {
    flex-direction: column-reverse;
    & #footer-flex {
      flex-direction: column;
      & #social > ul {
        display: flex;
        flex-direction: row;
        gap: 2rem;
      }
    }
  } */
}

@media only screen and (max-width: 550px) {
  header {
    & nav {
      & input#menuBurger:not(checked) ~ ul#nav-link {
        height: 0%;
        transition: height 0.5s ease-in-out;
      }
      & input#menuBurger:checked ~ ul#nav-link {
        height: calc(100vh - 100%);
        overflow-y: hidden;
      }
      &
        input#menuBurger:checked
        + #menu-mobile
        > label
        > span.line:nth-child(1) {
        transform: translateY(12px) rotate(135deg);
      }
      &
        input#menuBurger:checked
        + #menu-mobile
        > label
        > span.line:nth-child(2) {
        opacity: 0;
      }
      &
        input#menuBurger:checked
        + #menu-mobile
        > label
        > span.line:nth-child(3) {
        transform: translateY(-12px) rotate(-135deg);
      }
      & #menu-mobile > label {
        display: block;
        margin-left: auto;
        margin-right: 0;
        width: 40px;
        height: 60px;
        position: relative;
        cursor: pointer;
        & span.line {
          position: absolute;
          height: 6px;
          width: 100%;
          background: black;
          transition: transform 0.75s ease-out;
        }
        & span.line:nth-child(1) {
          top: 12px;
        }
        & span.line:nth-child(2) {
          top: 24px;
        }
        & span.line:nth-child(3) {
          top: 36px;
        }
      }
      & ul#nav-link {
        background: white;
        position: absolute;
        display: flex;
        gap: 0.5rem;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        width: 60%;
        /* height: 15%; */
        overflow-y: hidden;
        transition: all 0.6s ease-in-out;
        /* height: calc(100% - 68px); */
        right: 0;
        top: 100%;
      }
    }
  }
  /* footer mobile en flex */
  /* footer {
    flex-direction: column;
  } */
}
